{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!-- Left Sidebar -->
    <!-- load sidebar here -->
    {% include 'Dashboards/sidebar.html' %}

    <!-- Right Content -->
    <div class="col-md-9">
        <samp>login as: <b>{{ user.username }}</b></samp>
        <div class="row">
            
            <!-- Categories Card -->
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header text-uppercase font-weight-bold">
                        All Categories
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ Category_count }}</h5>
                    </div>
                </div>
            </div>

            <!-- Posts Card -->
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header text-uppercase font-weight-bold">
                        All Posts
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ blogs_count }}</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
